* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(177, 3, 3);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0; /* Remove default margin */
}

/*nav bar BGN*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
.nav-area {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Initial blur effect */
    background-color: rgba(0, 0, 0, 0); /* Start with full transparency */
    transition: background-color 0.5s, backdrop-filter 0.5s;
    -webkit-backdrop-filter: blur(10px);
}

.nav-area.visible {
    backdrop-filter: blur(10px); /* Maintain the blur effect when visible */
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and transparency */
    z-index: 1001; /* Ensure the navigation bar is on top */
}

.logo {
    margin: 10px 40px;
    height: 50px;
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    max-width: 100%
}


.menu-area {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu-area li {
    display: inline-block;
    margin: 0 5px;
}

.menu-area li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

.menu-area li a:hover {
    color: rgb(255, 136, 0);
}

.menu-area li:last-child a {
    padding: 10px 20px; /* Adjust padding to create a button-like appearance */
    background-color: #ff8104; /* Set a background color */
    color: #fff; /* Set text color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    text-decoration: none; /* Remove underlines */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

.menu-area li:last-child a:hover {
    background-color: #fff; /* Change background color on hover */
    color: #000; /* Change text color on hover */
}

/*nav bar END*/

/*header BGN*/
header {
	height: 100vh;
    display: sticky;
}
header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px; /* Adjust the height of the shadow as needed */
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1; /* Ensure the shadow is above the video */
}

.vid-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

header .welcome-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.welcome-text h2 {
	color: #fff;
	margin: 0;
	font-family: 'Bebas Neue', sans-serif;
    font-size: 200px;
    font-weight: 800;
    transition: 0.5s;
    
}

.welcome-text h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }


.welcome-text p {
	color: #fff;
	font-size: 18px;
	width: 45%;
	line-height: 1.8;
	margin: auto;
    font-weight: bold;
}
.btn {
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px 30px;
	font-size: 15px;
    font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
	display: inline-block;
	margin-top: 25px;
	border: 2px solid #fff;
	transition: background .6s ease-in;
    
}
.btn:hover {
	background: #fff;
	color: #000;
}

/*header END*/

/*about us BGN*/

.about{
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    background-color: black;
  }
  
  
.about-img img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 100px;
  
  }
  
.about-text h5{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    text-decoration: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: -45px;
  }
  
.about-text p{
    font-size: var;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin-bottom: 80px;
    margin-left: -45px;
    margin-right: 50px;
  }

 /* Explore container styles */
 .explore-container {
    display: flex;
    align-items: center;
}

.about-text p {
    display: inline-block;
}

.explore-btn {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 6px; /* Add margin to separate the text and button */
}

.explore-btn:hover {
    background-color: #ff8104;
    color: #ffffff;
}

/*about us END*/

/*contact us BGN*/
.hhh h2 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
    margin-bottom: -50px;
}

/* Contact section styles */
.contact {
    margin-top: 6%;
    padding: 30px 14% 70px;
    display: flex; /* Use flexbox to make the contact boxes side by side */
    justify-content: space-around; /* Adjust as needed */
    gap: 2rem;
    text-align: center;
}

.contact-box {
    flex: 1; /* Distribute available space equally between the boxes */
    padding: 43px 43px 43px 43px;
    background: rgb(30, 30, 30);
    border-radius: 3rem;
    text-align: center;
    margin-bottom: 80px;
}


.contact-box img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.contact-box h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 16px 0;
    color: rgb(255, 255, 255);
}

.contact-box a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .50s ease;
}

.contact-box a:hover {
    color: rgb(249, 116, 0);
}
/*contact us END*/

/*Footer BGN*/
footer {
    width: 100%;
    background: linear-gradient(to right,#0a0a0a, #0a0a0a, #ff8104);;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: auto; /* Push the footer to the bottom */
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: flex-start;
    justify-content: space-between;

}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.Fotterlogo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid#ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
    color: #fff; /* Add this line to set the text color to white */
}

ul li a {
    text-decoration: none;
    color: #fff; /* Set the link color to white */
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
    margin-left: 5px;
}


form textarea{
    width: 100%;
    background: transparent;
    color: #898989;
    border: 0;
    outline: none;
    font-size: 15px;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button.fas{
    font-size: 16px;
    color: #ccc;
}

hr{
    width: 99%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: o;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
}

/*Footer END*/

/*@media BGN*/

@media (min-width: 767px) and (max-width: 991px) {
	.welcome-text p {
		width: 95%;
	}
}
@media (min-width: 992px) {
    .nav-area h2 {
        display: none; /* Hide the "Contact us" heading on larger screens */
    }
}
@media (max-width: 767px) {
	.logo {
		float: none;
		text-align: center;
        margin: 5px 0;
		font-size: 23px;
		height: 45px;
		line-height: 45px;
	}
    .menu-area {
		float: none;
		text-align: center;
		margin: 0;
	}
    .menu-area li {
		margin: 0;
	}
    .menu-area li a {
		padding: 5px 2px;
		font-size: 12px;
	}
	
    .nav-area {
		height: 90px;
	}
    header .welcome-text h2 {
        font-size: 100px; /* Adjust the font size for smaller screens */
    }

    header .welcome-text p {
        width: 100%; /* Adjust the width of the paragraph */
        font-size: 14px; /* Adjust the font size for smaller screens */
    }
    .about {
        grid-template-columns: 1fr; /* Change to a single column layout on smaller screens */
        text-align: center;
    }

    .about-img img {
        margin-left: 0; /* Remove the left margin for the image on smaller screens */
        margin-bottom: 20px; /* Add some bottom margin for better spacing */
    }

    .about-text h5 {
        margin-top: 40px; /* Adjust top margin for better spacing */
    }

    .about-text p {
        margin-left: 0; /* Center the text on smaller screens */
        margin-right: 0;
    }

    .contact {
        flex-direction: column; /* Stack contact boxes vertically on smaller screens */
        gap: 1rem;
    }

    .contact-box {
        margin-bottom: 30px; /* Add margin between contact boxes for better spacing */
    }

    footer {
        padding: 20px 10px; /* Adjust padding for the footer on smaller screens */
    }

    .contact-info {
        margin-top: 0; /* Remove negative margin for contact info in footer */
        padding: 10px 0; /* Adjust padding for contact info in footer */
    }
}

@media not all and (min-resolution:.001dpcm) { 
    @media {
        .nav-area {
            background-color: rgba(0, 0, 0, 0.7); /* Fallback for browsers not supporting backdrop-filter */
        }
    }
}

@media(max-width: 700px){
    footer{
        bottom: unset;
    }
}

/*@media END*/

/*FORM BGN page4*/
.img-bg {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('p93.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.img-bg .contentF{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.text-scii h2{
    font-size: 40px;
    line-height: 1;
}
.text-scii h2 span{
    font-size: 25px;
}

.text-scii p {
    font-size: 16px;
    margin: 20px 0;
}
.img-bg .loging-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.loging-box .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
    -webkit-backdrop-filter: blur(10px);
}

.form-box h2{ 
    font-size: 32px;
    text-align: center;
}

.form-box .input-box1{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box1 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}


.input-box1 label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box1 input:focus ~ label,
.input-box1 input:valid ~ label {
    top: -5px;
}

.input-box1 .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forget{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forget label input{
    accent-color: #e4e4e4;
    margin-right: 3px;

}

.remember-forget a {
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.Fbtn{
    width: 100%;
    height: 45px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-box .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.background6{
    width: 100%;
    height: 100vh;
    background: url('p93.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}


@media (max-width: 767px) {
    /* Styles for screens up to 767px wide */
    .img-bg {
        width: 100%;
        height: 300px; /* Adjust height as needed for smaller screens */
        /* Add other styles for smaller screens as needed */
    }

    /* Add other media queries for smaller screens if necessary */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for screens between 768px and 991px wide */
    .img-bg {
        width: 60%; /* Adjust width as needed for medium screens */
        height: 450px; /* Adjust height as needed for medium screens */
        /* Add other styles for medium screens as needed */
    }

    /* Add other media queries for medium screens if necessary */
}

/*FORM END page4*/

/*galley BGN page3*/

